@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
  color: #02080e;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.absolute {
  position: absolute;
}

.bg-green {
  background-color: #51e59e;
}

.bg-red {
  background-color: #e55451;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  height: auto;
  line-height: 1.125rem;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  vertical-align: middle;
}

.btn:focus {
  border-color: rgba(0, 0, 0, 0.125);
  box-shadow: rgba(0, 0, 0, 0.25);
  outline: none;
}

.btn:hover {
  text-decoration: none;
}

.btn-default {
  background-color: #d3d3d3;
  color: #222;
}

.btn-disabled {
  background-color: #d3d3d3;
  color: #858585;
  cursor: default;
}

.btn-primary {
  background-color: #5198e5;
  border-color: #5198e5;
  color: white;
}

.center {
  text-align: center;
}

.circle {
  border-radius: 100%;
}

/* https://codepen.io/mildrenben/pen/gbddEj?editors=1100 */
.field {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #5198e5 4%);
  /* FIXME: This background position depends on the rendered width */
  background-position: -340px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: solid 1px #5198e5;
  display: block;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.field::-webkit-input-placeholder {
  color: #5198e5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.field:focus,
.field:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.field:focus::-webkit-input-placeholder,
.field:valid::-webkit-input-placeholder {
  color: #5198e5;
  font-weight: 700;
  transform: translateY(-20px);
  visibility: visible !important;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.gray {
  color: #dae9f9;
}

.group {
  position: relative;
}

.h1 {
  font-size: 4rem;
}

.list {
  list-style-type: none;
}

.list-item {
  list-style-type: none;
}

.mr1 {
  margin-right: 0.5rem;
}

.mr2 {
  margin-rigth: 1rem;
}

.mr3 {
  margin-right: 2rem;
}

.mr4 {
  margin-right: 4rem;
}

.mt1 {
  margin-top: 0.5rem;
}

.mt2 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 2rem;
}

.mt4 {
  margin-top: 4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: 0.5rem;
}

.p2 {
  padding: 1rem;
}

.p3 {
  padding: 2rem;
}

.p4 {
  padding: 4rem;
}

.pointer {
  cursor: pointer;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py1 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.py2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.py3 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.py4 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.relative {
  position: relative;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.white {
  color: #f9f9f9;
}

@media (min-width: 480px) {
  .sm-absolute {
    position: absolute;
  }

  .sm-flex {
    display: flex;
  }

  .sm-mr1 {
    margin-right: 0.5rem;
  }

  .sm-mr2 {
    margin-right: 1rem;
  }

  .sm-mr3 {
    margin-right: 2rem;
  }

  .sm-mr4 {
    margin-right: 4rem;
  }

  .sm-mt0 {
    margin-top: 0;
  }

  .sm-mt1 {
    margin-top: 0.5rem;
  }

  .sm-mt2 {
    margin-top: 1rem;
  }

  .sm-mt3 {
    margin-top: 2rem;
  }

  .sm-mt4 {
    margin-top: 4rem;
  }

  .sm-right {
    right: 0
  }
}
